@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: #ffffff;
}

h1{
    font-size: 70px;
    text-align: center;
    margin-top: 18%;
    font-weight: 400;
    color: #ffffff;
    font-family: "Montserrat";
}
span{
    color: #010101;
    font-size: 100px;
    font-weight: 600;
}

p{
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: -30px;
    letter-spacing: 3px;
}

p::before {
    content: "~";
    padding-right: 8px;
}

